<div class="row">
  <div class="col-md-8" style="float: left;">
    <div class="input-group">
      <input type="text" ng-model="search.$" class="form-control" placeholder="Search" aria-describedby="sizing-addon2">
    </div>
  </div>
  <div class="col-md-4" style="float: right;">
    <button class="btn btn-primary" ng-click="newContact()">New</button>
  </div>
</div>


<div class="row marketing">
  <div class="list-group">
    <div ng-repeat="contact in contacts | filter: search" class="list-group-item">
      <h5 class="list-group-item-heading">{{contact.name}}</h5>
      <p class="list-group-item-text">{{contact.email}}</p>
      <p class="list-group-item-text">{{contact.phone}}</p>
    </div>
  </div>
</div>
