<form name="newContact" ng-submit="validate()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" ng-model="contact.name" class="form-control" id="name"  placeholder="Name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" ng-model="contact.email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="tel">Phone number</label>
    <input type="tel" ng-model="contact.phone" class="form-control" id="tel" placeholder="Phone">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
